:root {
  --pink: #FCADC1;
  --yellow: #FCE187;
  --purple: #9767E3;

  --bg: #F7F7FB;
  --white: #FFFFFF;

  --text-dark: #2A2A2A;
  --text-light: #6B6B6B;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--bg);
  color: var(--text-dark);
  font-family: Arial, Helvetica, sans-serif;
}

/* Pixel art */
.pixelated {
  image-rendering: pixelated;
}

/* Remove default focus outline */
:focus {
  outline: none;
}