@import "tailwindcss";


:root {
  --color-bg: #f0fdf4;        /* soft green background */
  --color-card: #d1fae5;      /* light emerald */
  --color-accent: #fda4af;    /* soft pink */
  --color-accent-2: #bae6fd;  /* soft blue */
  --color-text: #065f46;      /* dark emerald */
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pixelated {
  image-rendering: pixelated;
}